/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-jun-2018, 23:22:51
    Author     : gabag
*/

.root {
    -fx-background: #1E3846;
	-fx-base: #0F0F0F;
}

GridPane .label {
	-fx-text-fill: #FFFFC8;
}

#civilizationImage {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}